body {
  margin: 0;
  overflow: hidden;
}
svg {
  width: 100vw;
  height: 100vh;
  display: block;
}
circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
line {
  stroke: gray;
  stroke-opacity: 0.6;
}

line[type="ACTED_IN"] {
  stroke: blue;
}

line[type="DIRECTED"] {
  stroke: green;
}

line[type="WROTE"] {
  stroke: orange;
}


line.IN_GENRE {
  stroke: purple;
}

text {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 1rem;
}
#controls {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
}

select#cypher-query {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 100px);
}
input#query-btn {
  right: 0;
  width: 100px;
}

/*
  Update these styles to fit your data
*/
.Movie {
  fill: red;
}
.Person {
  fill: yellow;
}
.Genre {
  fill: cyan;
}
